# Supabase Configuration
VITE_SUPABASE_URL=https://gikonyabsxlxmbtfdtah.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdpa29ueWFic3hseG1idGZkdGFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxMTM0NTQsImV4cCI6MjA3MzY4OTQ1NH0.yYWPbAKyZESgANx-dZFf4PvyVsEVKiumMy2aqjs229E

# Application Configuration
VITE_APP_NAME=Image Press
VITE_APP_DESCRIPTION=Plataforma de Gestão de Desenvolvimento

# Environment
NODE_ENV=production
